@model Client_Management_System.Models.Persons

<form asp-action="DeleteConfirmed"
      asp-route-id="@Model.Id"
      method="post">

    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-danger">
        Delete
    </button>

    <a asp-action="Index" class="btn btn-secondary">
        Cancel
    </a>

</form>